.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.name {
  /* display: flex; */
  font-size: 40px;
}

.leftSide {
  font-size: 18px;
  font-weight: 600;
  font-weight: bold;
}

.rightSide {
  display: flex;
  gap: 16px;
  align-items: center;
}

.resetBtn {
  color: black;
  font-size: 12px;
  font-weight: 600;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.filterMobileBtn {
  font-size: 18px;
  font-weight: 600;
  font-weight: bold;
  display: none;
  align-items: center;
  gap: 8px;
  color: black;
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
@media (max-width: 1225px) {
  .rightSide {
    display: none;
  }
  .filterMobileBtn {
    display: flex;
    align-items: center;
    gap: 4px;
  }
}

.filterClose {
  display: flex;
}

.filterModalOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.filterModal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 400px;
}

.filterActions {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}
