.loaderWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #fff;
}

.section {
  margin: 48px auto;
}

.heroWrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 32px;
}

.heroImgContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #2b2d30;
  border-radius: 8px;
}

.heroImg {
  width: 100%;
  height: 276px;
  object-fit: cover;
  border-radius: 8px;
}

.heroTitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 40px;
  line-height: 1.1;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.infoCard {
  background: #faf3e0;
  border-radius: 16px;
  padding: 16px;
}

.cardTitle {
  margin-bottom: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
}

.infoItem {
  margin-bottom: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.infoItem:last-child {
  margin-bottom: 0;
}

.span {
  font-weight: 600;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  background: #9b6c43;
  border-radius: 8px;
  padding: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.btn:hover {
  background: #6d554b;
}

.btn:active {
  box-shadow: 0 0 0 6px rgba(78, 70, 180, 0.12), 0 0 0 2px #fff;
  background: #9b6c43;
}

.iconFilled {
  fill: white;
}

.icon {
  fill: none;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 8px;
}

.text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.55;
  margin-bottom: 40px;
}

.ingrediensList {
  list-style-type: disc;
  padding-left: 20px;
  margin-bottom: 40px;
}

.ingredientsItem {
  margin-bottom: 16px;
}

.preparationTitle {
  margin-bottom: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
}

.preparationText {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.55;
}

@media only screen and (min-width: 768px) {
  .heroWrapper {
    flex-direction: column-reverse;
  }

  .heroImg {
    height: 624px;
  }

  .heroTitle {
    font-size: 48px;
  }

  .infoWrapper {
    flex-direction: row;
    align-items: flex-start;
  }

  .infoCard {
    padding: 24px;
    width: 431px;
  }

  .btn {
    flex-grow: 1;
  }

  .title {
    font-size: 32px;
  }

  .preparationTitle {
    font-size: 32px;
  }
}

@media only screen and (min-width: 1225px) {
  .heroImg {
    width: 624px;
    border-radius: 0;
  }

  .wrapper {
    flex-direction: row-reverse;
  }

  .infoWrapper {
    flex-direction: column;
  }

  .infoCard {
    width: 393px;
  }

  .btn {
    flex-grow: 0;
    width: 100%;
  }
}
