.header {
  font-family: "Montserrat", sans-serif;
  background-color: #3d2218;
  padding: 15px 0;
}

.container {
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 18px;
  font-weight: 600;
  color: #fafafa;
}

.logo:hover {
  text-decoration: none;
}

.nav {
  display: flex;
  align-items: center;
  gap: 28px;
}

.link {
  font-size: 12px;
  font-weight: 600;
  color: #ffffff;
  padding: 10px 0;
  transition: all 250ms ease-in-out;
  position: relative;
}

.link:hover,
.link:focus {
  color: #d1d5db;
  text-decoration: none;
}

.link.active {
  color: #fafafa;
}

.link.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fafafa;
}

.registerBtn {
  display: flex;
  align-items: center;
  height: 44px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  padding: 12px 16px;
  border-radius: 8px;
  background-color: #9b6c43;
  border: none;
  transition: all 250ms ease-in-out;
}

.registerBtn:hover {
  background-color: #6d554b;
  text-decoration: none;
}

.registerBtn:active {
  transform: scale(0.96);
  box-shadow: 0 0 0 6px rgba(78, 70, 180, 0.12), 0 0 0 2px #fff;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #9b6c43;
  color: #ffffff;
  font-weight: 600;
  font-size: 12px;
}

.userName {
  font-size: 12px;
  color: #ffffff;
  font-weight: 600;
  transition: all 250ms ease-in-out;
  cursor: pointer;
}

.userName:focus,
.userName:hover {
  color: #d1d5db;
  text-decoration: none;
}

.burgerButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 6px;
}

@media screen and (max-width: 767px) {
  .nav {
    display: none;
  }

  .burgerButton {
    display: flex;
  }

  .userInfo {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 32px;
  }

  .nav {
    display: flex;
  }

  .burgerButton {
    display: none;
  }

  .registerBtn {
    font-size: 16px;
    padding: 12px 24px;
  }
}

@media screen and (min-width: 1225px) {
  .container {
    max-width: 1225px;
    padding: 0;
  }

  .logo {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}

.logout {
  position: relative;
}

.logout:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -10px;
  width: 1px;
  height: 100%;
  background-color: #ffffff;
}
