:root {
  --main-font: "Montserrat", sans-serif;
}

.container {
  padding: 48px 32px;
  background-color: rgba(250, 243, 224, 1);
  border-radius: 32px;
  margin: 0 auto;
  margin: 91px 15px 56px 15px;
}
.formContainer {
  max-width: 100%;
  display: flex;
  flex-direction: column;
}
.loginTitle {
  text-align: center;
  font-weight: 600;
  font-size: 32px;
  font-family: var(--main-font);
  margin-bottom: 20px;
}
.labelLoginForm {
  font-weight: 400;
  font-family: var(--main-font);
  font-size: 12px;
  margin-bottom: 4px;
}
.fieldEmail {
  border: 1px solid var(--light-gray);
  border-radius: 8px;
  padding: 8px;
  width: 100%;
  height: 41px;
  margin-bottom: 16px;
  position: relative;
}
.wrapperForShowBtn {
  position: relative;
}

.btnShowPassword {
  position: absolute;
  top: 65%;
  right: 10px;
  transform: translateY(-100%);
}
.errorMessage {
  color: red;
}
.btnLogin {
  border-radius: 8px;
  background-color: rgba(155, 108, 67, 1);
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 16px;
  color: white;
  padding: 8px 86px;
  margin-bottom: 20px;
}
.textRoute {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
  text-align: center;
}
.linkToRegister {
  margin-left: 4px;
  font-weight: 600;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.inputError {
  border: 1px solid red;
}
.error {
  display: block;
  margin-bottom: 16px;
  color: red;
  border-color: red;
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  .container {
    margin: 0 123px;
    max-width: 522px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    margin-top: 262px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    margin: 0 auto;
    margin-top: 176px;

  }
  .wrapperForShowBtn {
    margin-bottom: 27px;
  }
}
