.form {
  margin: 48 auto;
  font-family: var(--font-family);
}

.title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 40px;
  color: var(--black);
}

.upload {
  display: block;
  margin-bottom: 4px;
  font-weight: 600;
  font-size: 24px;
}

.fileInputNoImage {
  border-radius: 16px;
  width: 361px;
  height: 383px;
  background-color: grey;
  margin-bottom: 24px;
  overflow: hidden;
}

.labelFull {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.preview {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 16px;
}

.addFile {
  cursor: pointer;
}

.subtitle {
  font-weight: 600;
  font-size: 24px;
}

.input {
  border-radius: 8px;
  padding: 12px;
  width: 361px;
  height: 46px;
  max-height: 48px;
  border: 1px solid #d9d9d9;
}

.label {
  display: block;
  margin-top: 32px;
  margin-bottom: 8px;
}

.textarea {
  border-radius: 8px;
  padding: 12px;
  width: 361px;
  height: 144px;
  background: var(--white);
  border: 1px solid #d9d9d9;
}

.wraperCalories {
  display: flex;
  gap: 20px;
}

.wraperIngredients {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.cooking {
  border-radius: 8px;
  padding: 12px;
  width: 172px;
  height: 46px;
  max-height: 48px;
  border: 1px solid #d9d9d9;
}

.select {
  border-radius: 8px;
  padding: 12px;
  width: 172px;
  height: 48px;
  max-height: 48px;
  border: 1px solid #d9d9d9;
}

.wraperIngredients .select {
  width: 100%;
}

.select:focus {
  border: 1.5px solid #9b6c43;
  outline: none;
}

.igradientTitle {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 24px;
  margin-top: 32px;
}
.labelIngradients {
  display: block;
}

.inputAmount {
  border-radius: 8px;
  padding: 12px;
  width: 361px;
  height: 46px;
  max-height: 48px;
  border: 1px solid #d9d9d9;
}

.inputName {
  border-radius: 8px;
  padding: 12px;
  width: 361px;
  height: 46px;
  max-height: 48px;
  border: 1px solid #d9d9d9;
}

.addButtonWraper {
  max-width: 420px;
}

.addButton {
  border-radius: 8px;
  width: 361px;
  height: 44px;
  background-color: #9b6c43;
  margin-bottom: 40px;
  margin-top: 32px;
  color: white;
}

.InstructionsTitle {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 16px;
}

.InstructionsText {
  border-radius: 8px;
  padding: 12px;
  width: 361px;
  height: 144px;
  border: 1px solid #d9d9d9;
}

.submitButton {
  margin-bottom: 48px;
  margin-top: 32px;
  border-radius: 8px;
  width: 361px;
  height: 44px;
  background-color: #9b6c43;
  color: white;
}

textarea:focus {
  border: 1.5px solid #9b6c43;
  outline: none;
}

.removeButton {
  display: block;
}

.addButton:focus,
.submitButton:focus {
  outline: none;
  background-color: #6d554b;
}

.addButton:hover,
.submitButton:hover {
  background-color: #6d554b;
}

.addButton:active,
.submitButton:active {
  box-shadow: 0 0 0 6px rgba(78, 70, 180, 0.12), 0 0 0 2px #fff;
  background: #9b6c43;
}

.ingredientsTable {
  font-size: 16px;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 40px;
}

.ingredientsTable td,
.ingredientsTable th {
  height: 44px;
  border-bottom: 1px solid #c5c5c5;
  text-align: left;
}

.deleteTr {
  opacity: 0;
}

@media only screen and (min-width: 768px) {
  .title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 48px;
    color: var(--black);
    margin-top: 28px;
    margin-bottom: 16px;
  }

  .upload {
    display: block;
    margin-bottom: 32px;
    font-weight: 600;
    font-size: 32px;
  }

  .label {
    display: block;
  }

  .input {
    width: 704px;
  }
  .inputAmount {
    width: 249px;
  }

  .inputName {
    width: 431px;
  }

  .subtitle {
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 32px;
  }

  .textarea {
    border-radius: 8px;
    padding: 12px;
    width: 704px;
    height: 144px;
  }

  .cooking {
    width: 340px;
  }

  .select {
    width: 340px;
  }
  .igradientTitle {
    font-weight: 600;
    font-size: 32px;
  }

  .ingredientItem {
    display: flex;

    gap: 20px;
    margin-bottom: 12px;
  }

  .labelIngradients {
    margin-right: auto;
  }

  .leftGroup,
  .rightGroup {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  .rightGroup {
    align-items: flex-end;
  }

  .addButton {
    width: 249px;
    height: 36px;
  }

  .addButtonWraper {
    max-width: 700px;
    display: flex;
    justify-content: flex-end;
  }
  .InstructionsTitle {
    font-weight: 600;
    font-size: 32px;
  }

  .InstructionsText {
    border-radius: 8px;
    padding: 12px;
    width: 704px;
    height: 144px;
    background: var(--white);
  }

  .submitButton {
    width: 704px;
    height: 44px;
  }

  .wraperIngredients {
    flex-direction: row;
  }

  .wraperIngredients .select {
    width: 497px;
  }

  .fileInputNoImage {
    width: 361px;
    height: 383px;
  }

  .ingredientsTable {
    width: 431px;
  }

  @media only screen and (min-width: 1225px) {
    .title {
      margin-top: 48px;
      margin-bottom: 40px;
    }

    .subtitle {
      margin-bottom: 32px;
    }

    .ContentRightImg {
      border-radius: 16px;
      width: 391px;
      height: 374px;

      margin-left: 833px;
      position: absolute;
    }

    .input {
      width: 809px;
      height: 46px;
      border: 1px solid #d9d9d9;
    }

    .textarea {
      width: 809px;
      height: 144px;
      border: 1px solid #d9d9d9;
    }

    .cooking {
      width: 392px;
      height: 46px;
      margin-right: 5px;
    }

    .select {
      border: 1px solid light-gray;
      border-radius: 8px;
      padding: 12px;
      width: 392px;
      height: 46px;
      max-height: 48px;
    }

    .inputName {
      width: 480px;
      height: 48px;
    }

    .inputAmount {
      width: 288px;
      height: 48px;
    }

    .addButton {
      width: 258px;
      height: 23px;
      margin-right: -110px;
    }

    .InstructionsText {
      width: 809px;
      height: 144px;
    }

    .submitButton {
      width: 809px;
      height: 44px;
    }

    .fileInputNoImage {
      width: 391px;
      height: 383px;
    }
  }
}

.inputError {
  border: 1px solid red;
  color: red;
}
.error {
  margin-top: 4px;
  color: #c80000;
  border-color: #c80000;
  font-size: 12px;
}
