.footer {
  font-family: "Montserrat", sans-serif;
  background-color: #3d2218;
  padding: 32px 0;
}

.container {
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 18px;
  font-weight: 600;
  color: #fafafa;
}

.logo:hover {
  text-decoration: none;
}

.copyright {
  font-size: 12px;
  font-weight: 400;
  color: #fafafa;
  opacity: 0.8;
  text-align: center;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.link {
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  padding: 10px 0;
  transition: all 250ms ease-in-out;
  position: relative;
}

.link:hover,
.link:focus {
  color: #d1d5db;
  text-decoration: none;
}

.link.active {
  color: #fafafa;
}

.link.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fafafa;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 32px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0;
  }

  .nav {
    flex-direction: row;
    justify-content: flex-end;
    gap: 32px;
    width: auto;
  }
}

@media screen and (min-width: 1225px) {
  .container {
    max-width: 1225px;
    padding: 0;
  }
}
