.recipeList {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(3, 288px);
  gap: 16px;
}

@media (max-width: 767px) {
  .recipeList {
    grid-template-columns: repeat(1, 288px);
  }
}

@media (min-width: 768px) and (max-width: 1224px) {
  .recipeList {
    grid-template-columns: repeat(2, 288px);
  }
}

@media (min-width: 1225px) {
  .recipeList {
    grid-template-columns: repeat(3, 288px);
  }
}

@media only screen and (min-width: 393px) {
  .wrapper {
    max-width: 393px;
  }
}

@media only screen and (min-width: 768px) {
  .wrapper {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media only screen and (min-width: 1225px) {
  .wrapper {
    max-width: 1225px;
  }
}
