@import "modern-normalize";

:root {
  font-family: "Montserrat", sans-serif;
}

.container {
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;

  @media only screen and (min-width: 393px) {
    width: 393px;
  }

  @media only screen and (min-width: 768px) {
    width: 768px;
    padding: 0 32px;
  }

  @media only screen and (min-width: 1225px) {
    width: 1273px;
    padding: 0 24px;
  }
}
